---
import { getBlogEntry } from '@src/prework';
import { render } from 'astro:content';
import Layout from '@src/layout/layout.astro';
import Comments from '@src/layout/third-party/comments.astro';
export async function getStaticPaths() {
  const languages = ['en', 'zh-CN']; // 添加你支持的语言
  const paths: { params: { lang: string; abbrlink: string }; props: { entry: any; lang: string } }[] = [];

  for (const lang of languages) {
    const blogEntries = await getBlogEntry(lang);
    paths.push(...blogEntries.map(entry => ({
      params: { lang, abbrlink: entry.data.abbrlink },
      props: { entry, lang },
    })));
  }

  return paths;
}
const { entry, lang } = Astro.props;
const { Content, headings } = await render(entry);
// import  "../../source/css/_layout/post.styl";
import '@waline/client/style';
---
<Layout lang={lang} page={entry.data} postHeadings={headings}>
  <div id="post">
    <article id="article-container" class="post-content">
      <Content />
    </article>
    <div class="tag_share">
      
    </div>
    <Comments lang={lang}/>
  </div>
</Layout>
